.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

.header {
	//display: table;
	//justify-content: flex-start;

	//width: 1500px;

	.right-align {
		margin-left: auto;
	}
}

.right-align-break {
	//flex: 1 1 auto;
	margin-left: auto;
}

.padded {
	margin-left: 12px;
	margin-top: 12px;
}

.padding {
	padding-left: 24px;
	padding-top: 24px;
}