.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

.content-body {
	padding-left: 12px;
}

.right-align-break {
	margin-left: auto;
}

.padded {
	margin-left: 12px;
	margin-top: 12px;
}

.padding {
	padding-left: 24px;
	padding-top: 24px;
}