.autocomplete {
	float: left;
	margin-right: 18px;
}

#bidlist .bid-card {
	display: flex;
	justify-content: flex-start;
	margin-bottom: 24px;
}

.buttons {
	padding-bottom: 12px;
}

md-list > md-list-item.md-3-line > div.md-list-item-inner {
	align-items: center;
}

div > md-checkbox {
	margin-bottom: 0;
}

.padding {
	padding-left: 24px;
	padding-top: 24px;
}

.remove-button {
	margin-left: auto;
	align-self: flex-start;
}