.profile {
	display: inline-block;
}

.key {
	background-color: gray;
}

.table-item {
	height: 65px;
	line-height: 65px;
	text-align: center;
	vertical-align: middle;
	width: 250px;
}

.submitted {
	background-color: green;
}

.required {
	background-color: red;
	cursor: pointer;
}

.unavailable {
	background-color: gray;
}

.missing {
	background-color: yellow;
	cursor: pointer;
}