<title>bidintel</title>
<head>
	<!-- bidintel specific -->
	<link rel="stylesheet" href="/static/css/base.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Angular Material -->
	<link rel="stylesheet" href="https://gitcdn.xyz/repo/angular/bower-material/master/angular-material.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-aria.js"></script>
	<script src="https://gitcdn.xyz/repo/angular/bower-material/master/angular-material.js"></script>

	<!-- Material -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="/static/css/materialize.min.css">
	<script type="text/javascript" src="/static/js/materialize.min.js"></script>
	
	<!-- Google Signin : add after acquiring bitin.tel -->
	<!--<meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="bidintel.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>-->
	
	{% block head %}{% endblock %}
</head>
<body>
	{% block body %}{% endblock %}
</body>