{% extends "base.html" %}
{% block head %}
<!-- Drag and Drop Lists -->
<script type="text/javascript" src="/static/js/ng-drag-drop/ng-drag-drop.min.js"></script>
<link rel="stylesheet" href="/static/css/drag-drop.css">

<!-- page specific: load after angular -->
<script src="/static/js/common_bid.js"></script>
<script src="/static/js/bid.js"></script>
<link rel="stylesheet" href="/static/css/bid.css">
{% endblock %}

{% block body %}
<div ng-app="bidintel" ng-controller="bidController as ctrl" class="ng-cloak">
	{% include "header.html" %}
	<div class="content-body">
		<div class="dropdowns">
			<md-input-container style="padding-right: 24px">
				<label>Course Type</label>
				<md-select ng-model="ctrl.courseType"
					class="md-no-underline"
					md-on-open="ctrl.oldCourseType = ctrl.courseType"
					md-on-close="ctrl.updateCourseType()">
					<md-option ng-repeat="course in ctrl.courseTypes" ng-value=ctrl.courseTypes.indexOf(course)>
						{{'{{course}}'}}
					</md-option>
				</md-select>
			</md-input-container>
			<md-input-container style="padding-right: 24px">
				<label>Term</label>
				<md-select ng-model="ctrl.term"
					class="md-no-underline"
					md-on-open="ctrl.oldTerm = ctrl.term"
					md-on-close="ctrl.updateTerm()"
					ng-disabled="ctrl.courseType !== undefined && ctrl.courseType != ctrl.ELECTIVE">
					<md-option ng-repeat="term in ctrl.terms" ng-value=ctrl.terms.indexOf(term)>
						{{'{{term}}'}}
					</md-option>
				</md-select>
			</md-input-container>
			<div style="padding-right: 16px;">
				<input ng-model="ctrl.year" type="number" style="width: 75px"></input>-{{'{{ctrl.getYearString()}}'}}
			</div>
		</div>
		<div class="buttons">
			<md-button class="md-raised md-primary"
				ng-click="ctrl.addBid()"
				ng-disabled="ctrl.bidsDisabled()">
				Add Bid
			</md-button>
			<md-button class="md-raised md-primary email-button"
				onclick="document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block'"
				ng-disabled="ctrl.bidsDisabled()">
				Email Entry (Fast!!)
			</md-button>
			<md-button class="md-raised md-primary"
				ng-click="ctrl.submit()"
				ng-disabled="!ctrl.canSubmit()">
				Submit
			</md-button>
		</div>
		<div id="light"
			class="white_content">
			<div class="popup">
				{% include "popup_bid_text_entry.html" %}
			</div>
		</div>
		<div id="fade"
			class="black_overlay"
			onclick="document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'">
		</div>
		
		<div ng-hide="!ctrl.bidsDisabled()" style="padding-left: 24px; padding-bottom: 8px">
			<b>Please enter a course type, term, and the academic year you are submitting bids for to continue.</b>
		</div>
		<md-list dnd-list="ctrl.bids" id="bidlist" ng-hide="ctrl.bidsDisabled()" flex>
			<md-list-item
				class="md-3-line"
				ng-repeat="bid in ctrl.bids"
				dnd-draggable="bid"
				dnd-moved="ctrl.bids.splice($index, 1)"
				dnd-effect-allowed="move"
				dnd-selected="models.selected = bid"
				ng-class="{'selected': models.selected === bid}"
				style="display: flex; border-bottom: 0.5px solid; margin-bottom: 4px; align-items: center;">
					<md-icon md-svg-icon="static/svg/ic_apps_black_24px.svg"
						style="margin-left: 0; margin-right: 8px; cursor: pointer">
					</md-icon>
					<div style="padding-right: 12px; padding-top: 4px;">{{'{{$index + 1}}'}}.</div>
					<md-autocomplete
						  md-no-cache=true
						  md-selected-item="bid['selectedCourse']"
						  md-search-text="bid['courseSearchText']"
						  md-items="course in ctrl.searchCourses(bid['courseSearchText'], $index)"
						  md-item-text="course['name']"
						  md-min-length="0"
						  placeholder="Course"
						  class="autocomplete">
						<md-item-template>
							<span>{{ '{{course["name"]}}' }}</span>
						</md-item-template>
						<md-not-found>
							<span>No matching courses found.</span>
						</md-not-found>
					</md-autocomplete>
					<md-autocomplete
						  md-no-cache=true
						  md-selected-item="bid['selectedProfessor']"
						  md-search-text="bid['professorSearchText']"
						  md-items="professor in ctrl.searchProfessors(bid['professorSearchText'], $index)"
						  md-item-text="professor['name']"
						  md-min-length="0"
						  placeholder="Professor"
						  class="autocomplete md-no-underline">
						<md-item-template>
							<span>{{ '{{professor["name"]}}' }}</span>
						</md-item-template>
						<md-not-found>
							<span>No matching professors found.</span>
						</md-not-found>
					</md-autocomplete>
					<md-autocomplete
						  md-no-cache=true
						  md-selected-item="bid['termName']"
						  md-selected-item-change="ctrl.updateBidTerm($index)"
						  md-items="term in ctrl.terms.slice(0, ctrl.ALL_TERMS)"
						  md-item-text="term"
						  md-min-length="0"
						  placeholder="Term"
						  class="autocomplete md-no-underline"
						  ng-disabled="ctrl.term !== undefined && ctrl.term != ctrl.ALL_TERMS">
						<md-item-template>
							<span>{{ '{{term}}' }}</span>
						</md-item-template>
					</md-autocomplete>
					<md-autocomplete
						  md-no-cache=true
						  md-selected-item="bid['gotInText']"
						  md-selected-item-change="ctrl.updateGotInOption($index)"
						  md-items="option in ctrl.gotInOptions"
						  md-item-text="option"
						  md-min-length="0"
						  placeholder="Did you get in?"
						  class="autocomplete md-no-underline">
						<md-item-template>
							<span>{{ '{{option}}' }}</span>
						</md-item-template>
					</md-autocomplete>
					<md-button class="md-icon-button remove-button"
						ng-click="ctrl.removeBid($index)"
						aria-label="Remove bid">
						<md-icon md-svg-icon="static/svg/ic_close_black_24px.svg"></md-icon>
					</md-button>
			</md-list-item>
		</md-list>
		<div class="buttons">
			<md-button class="md-raised md-primary"
				ng-click="ctrl.submit()"
				ng-disabled="!ctrl.canSubmit()">
				Submit
			</md-button>
		</div>
		* If you got off a waitlist, mark it as such regardless of if you accepted or not.<br>
		* Clinics and other courses which span multiple semesters should be marked as the first semester they are found in.<br>
		* Please do not submit 1L Spring Electives bids yet.<br>
		* Can't find a course or professor? Submit an empty bid in its spot, and let me know!
	</div>
</div>
{% endblock %}