{% extends "base.html" %}
{% block head %}
	<script>
	var app = angular.module('bidintel', []);
	app.controller('bidintelCtrl', function($http) {
		var self = this;
		self.text = "";
		
		self.submit = function() {
			$http.post('/submit_bid_text', self.text)
				.then(function onSuccess(response) {
				console.log('Bids submitted successfully.');
			}, function onError(response) {
				console.log('Error submitting bids.');
			});
		}
	});
	</script>
{% endblock %}
{% block body %}

<div ng-app="bidintel" ng-controller="bidintelCtrl as ctrl" class="padding">
	<b>Instructions</b><br>
	<b>1.</b> Search for "Confirmation of bids submitted" in your email.<br>
	<b>2.</b> Copy only the bulleted bid lines in.<br>
	<div style="padding-left:12px;">
		<i>e.g.</i> "&bull; Priority 1: Term: 20XXSP Course: [NAME]    Professor: [NAME]     X Credits"
	</div>
	<b>3.</b> Submit.
	<textarea rows="10"
			  cols="90"
			  ng-model="ctrl.text"
			  placeholder="Copy-paste email here.">
	</textarea>
	<button ng-click="ctrl.submit()" class="waves-effect waves-light btn">Submit</button>
</div>

{% endblock %}