<b>Instructions</b><br>
<b>1.</b> Search for "Confirmation of bids submitted" in your email.<br>
<b>2.</b> Copy ALL of the bulleted bid lines in entirely. (You can do this all at once.)<br>
<div style="padding-left:12px;">
	<i>e.g.</i> "&bull; Priority 1: Term: 20XXSP Course: [NAME]    Professor: [NAME]     X Credits"
</div>
<b>3.</b> Submit.<br>
<textarea rows="10"
		  cols="90"
		  ng-model="ctrl.bid_text_entry"
		  class="textarea"
		  placeholder="Copy-paste email here.">
</textarea><br>
<md-button class="md-raised md-primary"
	ng-click="ctrl.parse_bid_text()"
	onclick="document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'">
	Submit
</md-button>