{% extends "base.html" %}
{% block head %}
	<script type="text/javascript" src="/static/js/ng-drag-drop/ng-drag-drop.min.js"></script>

	<script>
	var app = angular.module('bidintel', []);
	app.controller('bidintelCtrl', function($http) {
		var self = this;
		self.choice = 0;
		self.choices = {
			0: 'Professor',
			1: 'Course',
			2: 'Full Course',
			3: 'User',
			4: 'Bid',
		};
		self.professors = [];
		
		$http.get('/data/professors').then(function(data) {
			self.professors = data.data['professors'];
		});
		
		self.submit = function() {
			$http.post('/submit_rows', $('form').serialize())
				.then(function onSuccess(response) {
				console.log('Bids submitted successfully.');
			}, function onError(response) {
				console.log('Error submitting bids.');
			});
		}
	});
	</script>
{% endblock %}
{% block body %}
<div ng-app="bidintel" ng-controller="bidintelCtrl as ctrl">
	<a class='dropdown-trigger btn' href='#' data-target='dropdown1' style="margin-top: 12px; margin-left: 12px">{{ '{{ctrl.choices[ctrl.choice]}}' }}</a>


	<ul id='dropdown1' class='dropdown-content'>
	<li><a ng-click="ctrl.choice = 0">Professor</a></li>
	<li><a ng-click="ctrl.choice = 1">Course</a></li>
	<li><a ng-click="ctrl.choice = 2">Full Course</a></li>
	<li><a ng-click="ctrl.choice = 3">User</a></li>
	<li><a ng-click="ctrl.choice = 4">Bid</a></li>
	</ul>
	<form style="margin-top: 12px; margin-left: 12px">
		<input name="professor" placeholder="Professor" ng-show="ctrl.choice == 0">
		<input name="course_name" placeholder="Class name" ng-show="ctrl.choice == 1">
		<input name="course_type" placeholder="Class type" ng-show="ctrl.choice == 1">
		<input name="professor_ids" placeholder="Professor IDs" ng-show="ctrl.choice == 2">
		<input name="course_id" placeholder="Class ID" ng-show="ctrl.choice == 2">
		<input name="bids" placeholder="Bids" ng-show="ctrl.choice == 3">
		<input name="rank" placeholder="Rank" ng-show="ctrl.choice == 4">
		<input name="term" placeholder="Term" ng-show="ctrl.choice == 4">
		<input name="year" placeholder="Year" ng-show="ctrl.choice == 4">
		<input name="position" placeholder="Position" ng-show="ctrl.choice == 4">
		<input hidden name="table" ng-model="ctrl.choice">
		<button class="waves-effect waves-light btn" onclick="self.submit()">Submit</button>
	</form>
</div>

<script>
$('.dropdown-trigger').dropdown();
$('input')[1].addEventListener("keyup", function(e) {
	e.preventDefault();
	if (e.keyCode === 13) {
		$('button')[0].click();
	}
});
</script>
{% endblock %}