{% extends "base.html" %}
{% block head %}
	<script type="text/javascript" src="/static/js/ng-drag-drop/ng-drag-drop.min.js"></script>
{% endblock %}
<script>
function submit_bids() {
	$.ajax({
		url: '/submitbids',
		data: $('form').serialize(),
		type: 'POST',
		// Remove these eventually.
		success: function(response) {
			console.log(response);
		},
		error: function(error) {
			console.log(error);
		}
	});
	//$('form')[0].reset();
}

var app = angular.module('bidintel', []);
app.controller('bidintelCtrl', function($scope, $http) {
	$scope.choice = 0;
	$scope.choices = {
		0: 'Professor',
		1: 'Course',
		2: 'Full Course',
		3: 'User',
		4: 'Bid',
	};
	$scope.professors = [];
	
	$http.get('/data/professors').then(function(data) {
		$scope.professors = data.data['professors'];
	});
});
</script>
{% block body %}
<div ng-app="bidintel" ng-controller="bidintelCtrl">
	<a class='dropdown-trigger btn' href='#' data-target='dropdown1' style="margin-top: 12px; margin-left: 12px">{{ '{{choices[choice]}}' }}</a>


	<ul id='dropdown1' class='dropdown-content'>
	<li><a ng-click="choice = 0">Professor</a></li>
	<li><a ng-click="choice = 1">Course</a></li>
	<li><a ng-click="choice = 2">Full Course</a></li>
	<li><a ng-click="choice = 3">User</a></li>
	<li><a ng-click="choice = 4">Bid</a></li>
	</ul>
	<form style="margin-top: 12px; margin-left: 12px">
		<input name="professor" placeholder="Professor" ng-show="choice == 0">
		<input name="course_name" placeholder="Class name" ng-show="choice == 1">
		<input name="course_type" placeholder="Class type" ng-show="choice == 1">
		<input name="professor_ids" placeholder="Professor IDs" ng-show="choice == 2">
		<input name="course_id" placeholder="Class ID" ng-show="choice == 2">
		<input name="bids" placeholder="Bids" ng-show="choice == 3">
		<input name="rank" placeholder="Rank" ng-show="choice == 4">
		<input name="term" placeholder="Term" ng-show="choice == 4">
		<input name="year" placeholder="Year" ng-show="choice == 4">
		<input name="position" placeholder="Position" ng-show="choice == 4">
		<input hidden name="table" ng-model="choice">
		<button class="waves-effect waves-light btn" onclick="submit_bids()">Submit</button>
	</form>
</div>

<script>
$('.dropdown-trigger').dropdown();
$('input')[1].addEventListener("keyup", function(e) {
	e.preventDefault();
	if (e.keyCode === 13) {
		$('button')[0].click();
	}
});
</script>
{% endblock %}